<!DOCTYPE html>
<html>
<head>
  <title>Pins</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <!-- In place of navbar -->
  <div class="btn-group btn-group-justified">
    <%= link_to "Home", root_path, class: "btn btn-primary" %>
    <%= link_to "Admin", new_post_path, class: "btn btn-primary" %>
  </div>

  <%= yield %>
</div>

</body>
</html>
